/* 
1. Change the background color to reflect the theme of your quiz [ ]

2. Change the font to reflect the theme of your quiz [ ]
*/

html, body {
  height: 100%;
  width: 100%;
      font-family: 'Futura', sans-serif;
    background-color: #FFFFFF;
    text-align: center;
}

img {
    width: 400px;
}